
@import 'base/variables';
@import 'components/atf';
@import 'components/aboutus';
@import 'components/servicios';
@import 'components/clientes';
@import 'components/form';
@import 'components/footer';
@import 'components/blog';
@import 'components/aboutuspage';
@import 'components/blogposts';
@import 'components/mobilefirst';
@import 'components/aboutusmobilefirst';


*{
    margin: 0;
    padding: 0;
}

Body{
    background-image: linear-gradient(to bottom, rgb(230, 230, 230), rgb(255, 255, 255));
}




/*titulo secciones*/





@keyframes changeTittleColor{
    0%{
        color: black;
    }
    50%{
        color: blueviolet;
        font-size: 77px;
    }
    100%{
        color: crimson;
    }
}

@keyframes changeTittleColorAliados{
    0%{
        color: black;
    }
    50%{
        color: blueviolet;
        font-size: 23px;
    }
    100%{
        color: crimson;
    }
}

@keyframes changeTittleColorContacto{
    0%{
        color: black;
    }
    50%{
        color: blueviolet;
        font-size: 48px;
    }
    100%{
        color: crimson;
    }
}

@keyframes changeTittleColorAboutUs{
    0%{
        color: white;
    }
    50%{
        color: blueviolet;
        font-size: 3,9rem;
    }
    100%{
        color: crimson;
    }
}




