
.tituloArticuloPost{
    font-family: $fuente;
    font-size: 3rem;
    text-align: center;
    padding-top: 4rem;
}

.bannerBlogArt{
    display: flex;
    justify-content: center;
    margin: 2rem 0 1rem 0;
}

.containerFotoBlog{
    height: 40vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.imagenBannerBlog{
    object-fit: cover;
    overflow: hidden;
    z-index: 5;
    height: 100%;
    width: 100%;
}

.articleBlogPost{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 8rem 4rem 8rem;
}

.articleBody{
    line-height: 2;
}

.pBlogArticle{
    
    text-align: left;
}

.blogLists{
    text-align: left;
}

.articleBlock{
    padding-bottom: 4rem;
}