/*mobile first*/

@media only screen and (max-width: 400px) {
    
    .titulo-seccion4{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include Conf-Fuentes ($fuente, 20px, none, uppercase, 0px, bold, nth($colores,4));
        text-align: center;
        padding: 20px 0 30px 0;
    }

    .containerFooter{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .imagen-consulta{
        display:none;
    }

    
    .container-partners{
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 20px;
    
    }

    .grid-item-partners{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    }

    .Container-Por-que-escogernos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 70px 0 70px;
    }

    .listRedes{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .footerRedes{
        padding: 3rem 0 0 0;
    }
    
    .footerRedes{
        display: flex;
        align-content: flex-end;
    }

    .footerOtrosLinks{
        padding-top: 2rem;
    }

    .titulo-seccion2{
        @include Conf-Fuentes ($fuente, 40px, none, uppercase, 0px, bold, nth($colores,4));
        display:flex;
        justify-content: center;
        padding-bottom: 50px;
        flex-wrap: wrap;
        text-align: center;
        
    }

    .titulo-seccion3{
        @include Conf-Fuentes ($fuente, 40px, none, uppercase, 0px, bold, nth($colores,4));
        display:flex;
        justify-content: center;
        padding: 100px 0 0 0;
        flex-wrap: wrap;
        text-align: center;
        
    }

    .consulta{
        @include Conf-Fuentes ($fuente, 40px, none, uppercase, 0px, bold, nth($colores,4));
    }

    .mapaDireccion{
        display: none;
    }

    .gridcontainerServicios{
        display: grid;
        grid-template-columns: auto auto;
        margin: 20px 0 100px 0;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        align-items: center;    
        justify-content: center;  
        text-align: center;
       
    }

    .clientes{
        margin-bottom: 20px;
    }

    .texto-partners{
        text-align: center;
    }

    .servicioConsultoria,
    .servicioDiseno,
    .servicioCampaña,
    .servicioRedes,
    .servicioShop,
    .servicioInmo{
        width: 100px;
    }
       
    .partnership{
        width: 120px;
    }

    .logoRedes{
        width: 40px;
    }

    .numeros,
    .numeros1{
        width: 100px;
    }

    
}



@media only screen and (min-width: 401px) and (max-width: 960px) {
    .titulo-seccion4{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include Conf-Fuentes ($fuente, 40px, none, uppercase, 0px, bold, nth($colores,4));
    }

    .containerFooter{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .imagen-consulta{
        display:none;
    }

    
    .container-partners{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 70px;
    
    }

    .grid-item-partners{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    }

    .Container-Por-que-escogernos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 70px 0 70px;
    }

    .listRedes{
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    .footerRedes{
        padding: 3rem 0 0 0;
    }
    
    .footerRedes{
        display: flex;
        align-content: flex-end;
    }

    .footerOtrosLinks{
        padding-top: 2rem;
    }

    .titulo-seccion2{
        @include Conf-Fuentes ($fuente, 40px, none, uppercase, 0px, bold, nth($colores,4));
        display:flex;
        justify-content: center;
        padding-bottom: 50px;
        flex-wrap: wrap;
        
    }

    .titulo-seccion3{
        @include Conf-Fuentes ($fuente, 40px, none, uppercase, 0px, bold, nth($colores,4));
        display:flex;
        justify-content: center;
        padding: 100px 0 0 0;
        flex-wrap: wrap;
        
    }

    .consulta{
        @include Conf-Fuentes ($fuente, 40px, none, uppercase, 0px, bold, nth($colores,4));
    }
    
    
    
}
